# Application settings
SECRET_KEY=your-secret-key-here
MILLIS_API_PUBLIC_KEY=your-millis-api-public-key-here
MILLIS_API_PRIVATE_KEY=your-millis-api-private-key-here

# Database settings
DATABASE_URL=postgresql://user:password@localhost:5432/db_name
JWT_SECRET_KEY=your-jwt-secret-key-here
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# Other settings
ENVIRONMENT=development 