# Application settings
SECRET_KEY=your-secret-key-here
MILLIS_API_PUBLIC_KEY=your-millis-api-public-key-here
MILLIS_API_PRIVATE_KEY=your-millis-api-private-key-here

# Database settings
DATABASE_URL=postgresql://user:password@localhost:5432/db_name
JWT_SECRET_KEY=your-jwt-secret-key-here
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=30

# Google OAuth settings
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_CALLBACK=http://localhost:8000/auth/google/callback

# Other settings
ENVIRONMENT=development 